* {
    font-family: 'Courier New', Courier, monospace;
    text-align : center
}



.body-text{
    width: 20%; /* Or whatever width you need */
    overflow-wrap: normal;
    word-break: normal;
    hyphens: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
    
}

.body-text p{
    text-align: left;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 20px;
    line-height: 40px;
    
}

.begin-button{
    margin: 20px;
    font-size: 20px;
}

.text-prompt{
    padding: 50px;
    margin-top: 70px;
}

h2{
    font-size: 50px;
    margin-top: 150px;
    padding: 10px;
}

.text-prompt-container{
    padding: 20px;
}


.poem-text {
    /* Add this container style to help with centering */
    display: flex;
    justify-content: center;
}


.poem-text pre{
    text-align: left;
    width: max-content;
    padding: 30px;
    font-size: 20px;
    
}

h3{
    padding: 50px;
}


.rorschach-image img{
    width: 30%;
    height: auto;
    padding: 20px;
    border-radius: 60px;
}

.form-group{
    
    padding: 5px;
    
}

.form-group input{
    margin: 20px;
}


/* .completion-message{
    transform: translate(0%, 3000%)
} */


.begin-button {
    background-color: #f8f8f8;
    color: #333;
    font-family: "Courier New", monospace;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 2px;
    box-shadow: 0 4px 0 #333;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    position: relative;
}
  
.begin-button:hover {
    background-color: #f0f0f0;
}
  
.begin-button:active {
    box-shadow: 0 1px 0 #333;
    transform: translateY(3px);
}
  
.begin-button:focus {
    outline: none;
    border-color: #000;
}


.create-new-button {
    background-color: #f8f8f8;
    color: #333;
    font-family: "Courier New", monospace;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 2px;
    box-shadow: 0 4px 0 #333;
    margin: 4px 2px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    border-radius: 15px;;
    margin-left: -5rem;
    margin-right: auto;
    margin-top: 45rem;
    position:absolute;
    
    
}
  
.create-new-button:hover {
background-color: #f0f0f0;
}

.create-new-button:active {
box-shadow: 0 1px 0 #333;
transform: translateY(3px);
}

.create-new-button:focus {
outline: none;
border-color: #000;
}

.continue-button {
background-color: #f8f8f8;
color: #333;
font-family: "Courier New", monospace;
font-size: 16px;
padding: 10px 20px;
border: 2px solid #333;
border-radius: 2px;
box-shadow: 0 4px 0 #333;
margin: 4px 2px;
cursor: pointer;
border-radius: 15px;
letter-spacing: 1px;
transition: all 0.1s ease;
position: relative;

}

.continue-button:hover {
background-color: #f0f0f0;
}

.continue-button:active {
box-shadow: 0 1px 0 #333;
transform: translateY(3px);
}

.continue-button:focus {
outline: none;
border-color: #000;
}

.input{
background-color: #f8f8f8;
color: #333;
font-family: "Courier New", monospace;
font-size: 16px;
padding: 10px 20px;
border: 2px solid #333;
border-radius: 2px;
box-shadow: 0 4px 0 #333;
margin: 4px 2px;
border-radius: 15px;

letter-spacing: 1px;
transition: all 0.1s ease;
position: relative;
}

.cursor {
    display: inline-block;
    width: 2px;
    animation: blink 1s step-end infinite;
}
  
@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}